# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Optional: raw data and artifacts
data/
artifacts/

